<div class="col-2" (mouseleave)="showoff()">
  <input type="text" class="form-control" (mouseover)="showon()" value={{address}} id={{addressId}}>
  <div  *ngIf="show">
    <ngb-tabset #t>
      <ngb-tab title={{prov}} id="tab1">
        <ng-template ngbTabContent>
          <ul class="addr-area-list">
            <li *ngFor="let p of provDic" class="addr">
              <a href="javascript:;" id="{{p.o_key}}" (click)="selectProv($event)">{{p.currentAddress}}</a></li>
          </ul>
        </ng-template>
      </ngb-tab>
      <ngb-tab title={{city}} *ngIf="selectedCity"  id="tab2">
        <ng-template ngbTabContent>
          <ul class="addr-area-list" [ngBusy]="busy">
            <li *ngFor="let c of cityDic" class="addr">
              <a href="javascript:;" id="{{c.o_key}}" (click)="selectCity($event)">{{c.currentAddress}}</a></li>
          </ul>
        </ng-template>
      </ngb-tab>
      <ngb-tab title={{county}} *ngIf="selectedCount"  id="tab3">
        <ng-template ngbTabContent>
          <ul class="addr-area-list" [ngBusy]="busy">
            <li *ngFor="let d of countDic" class="addr">
              <a href="javascript:;" id="{{d.o_key}}" (click)="selectCount($event)">{{d.currentAddress}}</a></li>
          </ul>
        </ng-template>
      </ngb-tab>
      <ngb-tab title={{street}} *ngIf="selectedStreet"  id="tab4">
        <ng-template ngbTabContent>
          <ul class="addr-area-list" [ngBusy]="busy">
            <li *ngFor="let s of streetDic" class="addr">
              <a href="javascript:;" id="{{s.o_key}}" (click)="selectStreet($event)">{{s.currentAddress}}</a></li>
          </ul>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
