.addr{
  float: left;
  width: 75px;
  height: 24px;
  line-height: 24px;
  margin-right: 15px;
  overflow: hidden;
  font-size: 13px;
}
.addr-area-list{
  position: absolute;
  padding: 0;
  padding-left: 10px;
  margin: 0;
  display: block;
  height: auto;
  width: 290px;
  border: 1px solid #999;
  border-top: 0px;
  box-shadow: 0 0 10px rgba(0,0,0,.15);
}
.area-content{
  border: 1px solid #999;
  padding: 5px;
}
.addr a:hover{
  color: #c4393c;
  text-decoration: none;
}
.addr a{
  color: #005aa0;
}

